<a href="https://colab.research.google.com/github/T-art-coder/Python-notebooks/blob/main/Handy_Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


> > >>> >**РЕШЕНИЕ ТИПОВЫХ ЗАДАЧ С ПОМОЩЬЮ PYTHON**

**Задачи ноутбука**


1.   Собрать часто встречающиеся вопросы по исп. pandas, base python и прочих пакетов. 
2.   Проиллюстрировать решение кратко и с комментариями на будущее.



*   **Создано**: 06.06.2022
*   **Обновлено**: 06.06.2022 
 **Обновлено**: 25.06.2022 

 -- Тренировка функционального программирования и визуализации

 -- Time Series Python - полный конспект.ipynb

 -- Тренировка по статистическим методам.ipynb



>>>> ## **Работа с временем в Python**



---

In [ ]:
import datetime

In [ ]:
print(datetime.date.today())

2022-06-06

In [ ]:
datetime.datetime.fromtimestamp(528756281)

datetime.datetime(1986, 10, 3, 20, 44, 41)

### Парсинг даты с помощью dateutil.parser.parse

In [ ]:
from dateutil.parser import parse

parse('January 31, 2010')

datetime.datetime(2010, 1, 31, 0, 0)

In [ ]:
parse('31, March 31, 2010, 10:51pm')

datetime.datetime(2031, 3, 31, 22, 51)

### **Объект типа datetime.datime**
strftime - перевод объекта в стрингу основного формата

strptime - перевод стрингу в объект datetime с определением формата

In [ ]:
###  ()
dt = datetime.datetime(2001, 1, 31, 10, 51, 0)

print(dt.strftime('%Y-%m-%d::%H-%M'))

2001-01-31::10-51

In [ ]:
df1 = dt.strftime('%Y-%m-%d::%H-%M')
format ='%Y-%m-%d::%H-%M'
dt.strptime(df1, format)

datetime.datetime(2001, 1, 31, 10, 51)

In [ ]:
dt = datetime.datetime(2001, 1, 31)

print(dt.strftime('%d %B, %Y, %A'))

31 January, 2001, Wednesday

In [ ]:
dt = datetime.datetime.today()
dt.day

6

In [ ]:
datetime.date.today() + datetime.timedelta(days = 2)

datetime.date(2022, 6, 8)

In [ ]:
bday = 'Sep 17, 1997'

td = datetime.datetime.now() - parse(bday)
td.days

9028

### **Генерация списка дат - напишем функцию date_list**

In [ ]:
## Задаем объекты и находим дельу
d1 = datetime.date(1869, 1, 2)
d2 = datetime.date(1869, 10, 2)
delta = d2 - d1
delta

datetime.timedelta(days=273)

In [ ]:
# Генерируется список стринговых дат
# Чтобы список давал объекты дейттайм надо убрать strftime('%Y-%m-%d'
print([(d1 + datetime.timedelta(i)).strftime('%Y-%m-%d') for i in range(delta.days + 1)])

['1869-01-02', '1869-01-03', '1869-01-04', '1869-01-05', '1869-01-06', '1869-01-07', '1869-01-08', '1869-01-09', '1869-01-10', '1869-01-11', '1869-01-12', '1869-01-13', '1869-01-14', '1869-01-15', '1869-01-16', '1869-01-17', '1869-01-18', '1869-01-19', '1869-01-20', '1869-01-21', '1869-01-22', '1869-01-23', '1869-01-24', '1869-01-25', '1869-01-26', '1869-01-27', '1869-01-28', '1869-01-29', '1869-01-30', '1869-01-31', '1869-02-01', '1869-02-02', '1869-02-03', '1869-02-04', '1869-02-05', '1869-02-06', '1869-02-07', '1869-02-08', '1869-02-09', '1869-02-10', '1869-02-11', '1869-02-12', '1869-02-13', '1869-02-14', '1869-02-15', '1869-02-16', '1869-02-17', '1869-02-18', '1869-02-19', '1869-02-20', '1869-02-21', '1869-02-22', '1869-02-23', '1869-02-24', '1869-02-25', '1869-02-26', '1869-02-27', '1869-02-28', '1869-03-01', '1869-03-02', '1869-03-03', '1869-03-04', '1869-03-05', '1869-03-06', '1869-03-07', '1869-03-08', '1869-03-09', '1869-03-10', '1869-03-11', '1869-03-12', '1869-03-13', '1869-03-14', '1869-03-15', '1869-03-16', '1869-03-17', '1869-03-18', '1869-03-19', '1869-03-20', '1869-03-21', '1869-03-22', '1869-03-23', '1869-03-24', '1869-03-25', '1869-03-26', '1869-03-27', '1869-03-28', '1869-03-29', '1869-03-30', '1869-03-31', '1869-04-01', '1869-04-02', '1869-04-03', '1869-04-04', '1869-04-05', '1869-04-06', '1869-04-07', '1869-04-08', '1869-04-09', '1869-04-10', '1869-04-11', '1869-04-12', '1869-04-13', '1869-04-14', '1869-04-15', '1869-04-16', '1869-04-17', '1869-04-18', '1869-04-19', '1869-04-20', '1869-04-21', '1869-04-22', '1869-04-23', '1869-04-24', '1869-04-25', '1869-04-26', '1869-04-27', '1869-04-28', '1869-04-29', '1869-04-30', '1869-05-01', '1869-05-02', '1869-05-03', '1869-05-04', '1869-05-05', '1869-05-06', '1869-05-07', '1869-05-08', '1869-05-09', '1869-05-10', '1869-05-11', '1869-05-12', '1869-05-13', '1869-05-14', '1869-05-15', '1869-05-16', '1869-05-17', '1869-05-18', '1869-05-19', '1869-05-20', '1869-05-21', '1869-05-22', '1869-05-23', '1869-05-24', '1869-05-25', '1869-05-26', '1869-05-27', '1869-05-28', '1869-05-29', '1869-05-30', '1869-05-31', '1869-06-01', '1869-06-02', '1869-06-03', '1869-06-04', '1869-06-05', '1869-06-06', '1869-06-07', '1869-06-08', '1869-06-09', '1869-06-10', '1869-06-11', '1869-06-12', '1869-06-13', '1869-06-14', '1869-06-15', '1869-06-16', '1869-06-17', '1869-06-18', '1869-06-19', '1869-06-20', '1869-06-21', '1869-06-22', '1869-06-23', '1869-06-24', '1869-06-25', '1869-06-26', '1869-06-27', '1869-06-28', '1869-06-29', '1869-06-30', '1869-07-01', '1869-07-02', '1869-07-03', '1869-07-04', '1869-07-05', '1869-07-06', '1869-07-07', '1869-07-08', '1869-07-09', '1869-07-10', '1869-07-11', '1869-07-12', '1869-07-13', '1869-07-14', '1869-07-15', '1869-07-16', '1869-07-17', '1869-07-18', '1869-07-19', '1869-07-20', '1869-07-21', '1869-07-22', '1869-07-23', '1869-07-24', '1869-07-25', '1869-07-26', '1869-07-27', '1869-07-28', '1869-07-29', '1869-07-30', '1869-07-31', '1869-08-01', '1869-08-02', '1869-08-03', '1869-08-04', '1869-08-05', '1869-08-06', '1869-08-07', '1869-08-08', '1869-08-09', '1869-08-10', '1869-08-11', '1869-08-12', '1869-08-13', '1869-08-14', '1869-08-15', '1869-08-16', '1869-08-17', '1869-08-18', '1869-08-19', '1869-08-20', '1869-08-21', '1869-08-22', '1869-08-23', '1869-08-24', '1869-08-25', '1869-08-26', '1869-08-27', '1869-08-28', '1869-08-29', '1869-08-30', '1869-08-31', '1869-09-01', '1869-09-02', '1869-09-03', '1869-09-04', '1869-09-05', '1869-09-06', '1869-09-07', '1869-09-08', '1869-09-09', '1869-09-10', '1869-09-11', '1869-09-12', '1869-09-13', '1869-09-14', '1869-09-15', '1869-09-16', '1869-09-17', '1869-09-18', '1869-09-19', '1869-09-20', '1869-09-21', '1869-09-22', '1869-09-23', '1869-09-24', '1869-09-25', '1869-09-26', '1869-09-27', '1869-09-28', '1869-09-29', '1869-09-30', '1869-10-01', '1869-10-02']

In [ ]:
def date_list(d1, d2, string = True):
  import datetime
 # d1 = datetime.date(1869, 1, 2)
 # d2 = datetime.date(1869, 10, 2)
  delta = d2 - d1
  
  if string:
    d_list = [(d1 + datetime.timedelta(i)).strftime('%Y-%m-%d') for i in range(delta.days + 1)]
  else:
    d_list =[(d1 + datetime.timedelta(i)) for i in range(delta.days + 1)]

  return d_list

In [ ]:
d1 = datetime.date(1869, 1, 2)
d2 = datetime.date(1869, 10, 2)

date_list(d1, d2, string = False)

[datetime.date(1869, 1, 2), datetime.date(1869, 1, 3), datetime.date(1869, 1, 4), datetime.date(1869, 1, 5), datetime.date(1869, 1, 6), datetime.date(1869, 1, 7), datetime.date(1869, 1, 8), datetime.date(1869, 1, 9), datetime.date(1869, 1, 10), datetime.date(1869, 1, 11), datetime.date(1869, 1, 12), datetime.date(1869, 1, 13), datetime.date(1869, 1, 14), datetime.date(1869, 1, 15), datetime.date(1869, 1, 16), datetime.date(1869, 1, 17), datetime.date(1869, 1, 18), datetime.date(1869, 1, 19), datetime.date(1869, 1, 20), datetime.date(1869, 1, 21), datetime.date(1869, 1, 22), datetime.date(1869, 1, 23), datetime.date(1869, 1, 24), datetime.date(1869, 1, 25), datetime.date(1869, 1, 26), datetime.date(1869, 1, 27), datetime.date(1869, 1, 28), datetime.date(1869, 1, 29), datetime.date(1869, 1, 30), datetime.date(1869, 1, 31), datetime.date(1869, 2, 1), datetime.date(1869, 2, 2), datetime.date(1869, 2, 3), datetime.date(1869, 2, 4), datetime.date(1869, 2, 5), datetime.date(1869, 2, 6), datetime.date(1869, 2, 7), datetime.date(1869, 2, 8), datetime.date(1869, 2, 9), datetime.date(1869, 2, 10), datetime.date(1869, 2, 11), datetime.date(1869, 2, 12), datetime.date(1869, 2, 13), datetime.date(1869, 2, 14), datetime.date(1869, 2, 15), datetime.date(1869, 2, 16), datetime.date(1869, 2, 17), datetime.date(1869, 2, 18), datetime.date(1869, 2, 19), datetime.date(1869, 2, 20), datetime.date(1869, 2, 21), datetime.date(1869, 2, 22), datetime.date(1869, 2, 23), datetime.date(1869, 2, 24), datetime.date(1869, 2, 25), datetime.date(1869, 2, 26), datetime.date(1869, 2, 27), datetime.date(1869, 2, 28), datetime.date(1869, 3, 1), datetime.date(1869, 3, 2), datetime.date(1869, 3, 3), datetime.date(1869, 3, 4), datetime.date(1869, 3, 5), datetime.date(1869, 3, 6), datetime.date(1869, 3, 7), datetime.date(1869, 3, 8), datetime.date(1869, 3, 9), datetime.date(1869, 3, 10), datetime.date(1869, 3, 11), datetime.date(1869, 3, 12), datetime.date(1869, 3, 13), datetime.date(1869, 3, 14), datetime.date(1869, 3, 15), datetime.date(1869, 3, 16), datetime.date(1869, 3, 17), datetime.date(1869, 3, 18), datetime.date(1869, 3, 19), datetime.date(1869, 3, 20), datetime.date(1869, 3, 21), datetime.date(1869, 3, 22), datetime.date(1869, 3, 23), datetime.date(1869, 3, 24), datetime.date(1869, 3, 25), datetime.date(1869, 3, 26), datetime.date(1869, 3, 27), datetime.date(1869, 3, 28), datetime.date(1869, 3, 29), datetime.date(1869, 3, 30), datetime.date(1869, 3, 31), datetime.date(1869, 4, 1), datetime.date(1869, 4, 2), datetime.date(1869, 4, 3), datetime.date(1869, 4, 4), datetime.date(1869, 4, 5), datetime.date(1869, 4, 6), datetime.date(1869, 4, 7), datetime.date(1869, 4, 8), datetime.date(1869, 4, 9), datetime.date(1869, 4, 10), datetime.date(1869, 4, 11), datetime.date(1869, 4, 12), datetime.date(1869, 4, 13), datetime.date(1869, 4, 14), datetime.date(1869, 4, 15), datetime.date(1869, 4, 16), datetime.date(1869, 4, 17), datetime.date(1869, 4, 18), datetime.date(1869, 4, 19), datetime.date(1869, 4, 20), datetime.date(1869, 4, 21), datetime.date(1869, 4, 22), datetime.date(1869, 4, 23), datetime.date(1869, 4, 24), datetime.date(1869, 4, 25), datetime.date(1869, 4, 26), datetime.date(1869, 4, 27), datetime.date(1869, 4, 28), datetime.date(1869, 4, 29), datetime.date(1869, 4, 30), datetime.date(1869, 5, 1), datetime.date(1869, 5, 2), datetime.date(1869, 5, 3), datetime.date(1869, 5, 4), datetime.date(1869, 5, 5), datetime.date(1869, 5, 6), datetime.date(1869, 5, 7), datetime.date(1869, 5, 8), datetime.date(1869, 5, 9), datetime.date(1869, 5, 10), datetime.date(1869, 5, 11), datetime.date(1869, 5, 12), datetime.date(1869, 5, 13), datetime.date(1869, 5, 14), datetime.date(1869, 5, 15), datetime.date(1869, 5, 16), datetime.date(1869, 5, 17), datetime.date(1869, 5, 18), datetime.date(1869, 5, 19), datetime.date(1869, 5, 20), datetime.date(1869, 5, 21), datetime.date(1869, 5, 22), datetime.date(1869, 5, 23), datetime.date(1869, 5, 24), datetime.date(1869, 5, 25), datetime.date(1869, 5, 26), datetime.date(1869, 5, 27), datetime.date(1869, 5, 28), datetime.date(1869, 5, 29), datetime.date(1869, 5, 30), datetime.date(1869, 5, 31), datetime.date(1869, 6, 1), datetime.date(1869, 6, 2), datetime.date(1869, 6, 3), datetime.date(1869, 6, 4), datetime.date(1869, 6, 5), datetime.date(1869, 6, 6), datetime.date(1869, 6, 7), datetime.date(1869, 6, 8), datetime.date(1869, 6, 9), datetime.date(1869, 6, 10), datetime.date(1869, 6, 11), datetime.date(1869, 6, 12), datetime.date(1869, 6, 13), datetime.date(1869, 6, 14), datetime.date(1869, 6, 15), datetime.date(1869, 6, 16), datetime.date(1869, 6, 17), datetime.date(1869, 6, 18), datetime.date(1869, 6, 19), datetime.date(1869, 6, 20), datetime.date(1869, 6, 21), datetime.date(1869, 6, 22), datetime.date(1869, 6, 23), datetime.date(1869, 6, 24), datetime.date(1869, 6, 25), datetime.date(1869, 6, 26), datetime.date(1869, 6, 27), datetime.date(1869, 6, 28), datetime.date(1869, 6, 29), datetime.date(1869, 6, 30), datetime.date(1869, 7, 1), datetime.date(1869, 7, 2), datetime.date(1869, 7, 3), datetime.date(1869, 7, 4), datetime.date(1869, 7, 5), datetime.date(1869, 7, 6), datetime.date(1869, 7, 7), datetime.date(1869, 7, 8), datetime.date(1869, 7, 9), datetime.date(1869, 7, 10), datetime.date(1869, 7, 11), datetime.date(1869, 7, 12), datetime.date(1869, 7, 13), datetime.date(1869, 7, 14), datetime.date(1869, 7, 15), datetime.date(1869, 7, 16), datetime.date(1869, 7, 17), datetime.date(1869, 7, 18), datetime.date(1869, 7, 19), datetime.date(1869, 7, 20), datetime.date(1869, 7, 21), datetime.date(1869, 7, 22), datetime.date(1869, 7, 23), datetime.date(1869, 7, 24), datetime.date(1869, 7, 25), datetime.date(1869, 7, 26), datetime.date(1869, 7, 27), datetime.date(1869, 7, 28), datetime.date(1869, 7, 29), datetime.date(1869, 7, 30), datetime.date(1869, 7, 31), datetime.date(1869, 8, 1), datetime.date(1869, 8, 2), datetime.date(1869, 8, 3), datetime.date(1869, 8, 4), datetime.date(1869, 8, 5), datetime.date(1869, 8, 6), datetime.date(1869, 8, 7), datetime.date(1869, 8, 8), datetime.date(1869, 8, 9), datetime.date(1869, 8, 10), datetime.date(1869, 8, 11), datetime.date(1869, 8, 12), datetime.date(1869, 8, 13), datetime.date(1869, 8, 14), datetime.date(1869, 8, 15), datetime.date(1869, 8, 16), datetime.date(1869, 8, 17), datetime.date(1869, 8, 18), datetime.date(1869, 8, 19), datetime.date(1869, 8, 20), datetime.date(1869, 8, 21), datetime.date(1869, 8, 22), datetime.date(1869, 8, 23), datetime.date(1869, 8, 24), datetime.date(1869, 8, 25), datetime.date(1869, 8, 26), datetime.date(1869, 8, 27), datetime.date(1869, 8, 28), datetime.date(1869, 8, 29), datetime.date(1869, 8, 30), datetime.date(1869, 8, 31), datetime.date(1869, 9, 1), datetime.date(1869, 9, 2), datetime.date(1869, 9, 3), datetime.date(1869, 9, 4), datetime.date(1869, 9, 5), datetime.date(1869, 9, 6), datetime.date(1869, 9, 7), datetime.date(1869, 9, 8), datetime.date(1869, 9, 9), datetime.date(1869, 9, 10), datetime.date(1869, 9, 11), datetime.date(1869, 9, 12), datetime.date(1869, 9, 13), datetime.date(1869, 9, 14), datetime.date(1869, 9, 15), datetime.date(1869, 9, 16), datetime.date(1869, 9, 17), datetime.date(1869, 9, 18), datetime.date(1869, 9, 19), datetime.date(1869, 9, 20), datetime.date(1869, 9, 21), datetime.date(1869, 9, 22), datetime.date(1869, 9, 23), datetime.date(1869, 9, 24), datetime.date(1869, 9, 25), datetime.date(1869, 9, 26), datetime.date(1869, 9, 27), datetime.date(1869, 9, 28), datetime.date(1869, 9, 29), datetime.date(1869, 9, 30), datetime.date(1869, 10, 1), datetime.date(1869, 10, 2)]

In [ ]:
date_list(d1, d2, string = True)

['1869-01-02', '1869-01-03', '1869-01-04', '1869-01-05', '1869-01-06', '1869-01-07', '1869-01-08', '1869-01-09', '1869-01-10', '1869-01-11', '1869-01-12', '1869-01-13', '1869-01-14', '1869-01-15', '1869-01-16', '1869-01-17', '1869-01-18', '1869-01-19', '1869-01-20', '1869-01-21', '1869-01-22', '1869-01-23', '1869-01-24', '1869-01-25', '1869-01-26', '1869-01-27', '1869-01-28', '1869-01-29', '1869-01-30', '1869-01-31', '1869-02-01', '1869-02-02', '1869-02-03', '1869-02-04', '1869-02-05', '1869-02-06', '1869-02-07', '1869-02-08', '1869-02-09', '1869-02-10', '1869-02-11', '1869-02-12', '1869-02-13', '1869-02-14', '1869-02-15', '1869-02-16', '1869-02-17', '1869-02-18', '1869-02-19', '1869-02-20', '1869-02-21', '1869-02-22', '1869-02-23', '1869-02-24', '1869-02-25', '1869-02-26', '1869-02-27', '1869-02-28', '1869-03-01', '1869-03-02', '1869-03-03', '1869-03-04', '1869-03-05', '1869-03-06', '1869-03-07', '1869-03-08', '1869-03-09', '1869-03-10', '1869-03-11', '1869-03-12', '1869-03-13', '1869-03-14', '1869-03-15', '1869-03-16', '1869-03-17', '1869-03-18', '1869-03-19', '1869-03-20', '1869-03-21', '1869-03-22', '1869-03-23', '1869-03-24', '1869-03-25', '1869-03-26', '1869-03-27', '1869-03-28', '1869-03-29', '1869-03-30', '1869-03-31', '1869-04-01', '1869-04-02', '1869-04-03', '1869-04-04', '1869-04-05', '1869-04-06', '1869-04-07', '1869-04-08', '1869-04-09', '1869-04-10', '1869-04-11', '1869-04-12', '1869-04-13', '1869-04-14', '1869-04-15', '1869-04-16', '1869-04-17', '1869-04-18', '1869-04-19', '1869-04-20', '1869-04-21', '1869-04-22', '1869-04-23', '1869-04-24', '1869-04-25', '1869-04-26', '1869-04-27', '1869-04-28', '1869-04-29', '1869-04-30', '1869-05-01', '1869-05-02', '1869-05-03', '1869-05-04', '1869-05-05', '1869-05-06', '1869-05-07', '1869-05-08', '1869-05-09', '1869-05-10', '1869-05-11', '1869-05-12', '1869-05-13', '1869-05-14', '1869-05-15', '1869-05-16', '1869-05-17', '1869-05-18', '1869-05-19', '1869-05-20', '1869-05-21', '1869-05-22', '1869-05-23', '1869-05-24', '1869-05-25', '1869-05-26', '1869-05-27', '1869-05-28', '1869-05-29', '1869-05-30', '1869-05-31', '1869-06-01', '1869-06-02', '1869-06-03', '1869-06-04', '1869-06-05', '1869-06-06', '1869-06-07', '1869-06-08', '1869-06-09', '1869-06-10', '1869-06-11', '1869-06-12', '1869-06-13', '1869-06-14', '1869-06-15', '1869-06-16', '1869-06-17', '1869-06-18', '1869-06-19', '1869-06-20', '1869-06-21', '1869-06-22', '1869-06-23', '1869-06-24', '1869-06-25', '1869-06-26', '1869-06-27', '1869-06-28', '1869-06-29', '1869-06-30', '1869-07-01', '1869-07-02', '1869-07-03', '1869-07-04', '1869-07-05', '1869-07-06', '1869-07-07', '1869-07-08', '1869-07-09', '1869-07-10', '1869-07-11', '1869-07-12', '1869-07-13', '1869-07-14', '1869-07-15', '1869-07-16', '1869-07-17', '1869-07-18', '1869-07-19', '1869-07-20', '1869-07-21', '1869-07-22', '1869-07-23', '1869-07-24', '1869-07-25', '1869-07-26', '1869-07-27', '1869-07-28', '1869-07-29', '1869-07-30', '1869-07-31', '1869-08-01', '1869-08-02', '1869-08-03', '1869-08-04', '1869-08-05', '1869-08-06', '1869-08-07', '1869-08-08', '1869-08-09', '1869-08-10', '1869-08-11', '1869-08-12', '1869-08-13', '1869-08-14', '1869-08-15', '1869-08-16', '1869-08-17', '1869-08-18', '1869-08-19', '1869-08-20', '1869-08-21', '1869-08-22', '1869-08-23', '1869-08-24', '1869-08-25', '1869-08-26', '1869-08-27', '1869-08-28', '1869-08-29', '1869-08-30', '1869-08-31', '1869-09-01', '1869-09-02', '1869-09-03', '1869-09-04', '1869-09-05', '1869-09-06', '1869-09-07', '1869-09-08', '1869-09-09', '1869-09-10', '1869-09-11', '1869-09-12', '1869-09-13', '1869-09-14', '1869-09-15', '1869-09-16', '1869-09-17', '1869-09-18', '1869-09-19', '1869-09-20', '1869-09-21', '1869-09-22', '1869-09-23', '1869-09-24', '1869-09-25', '1869-09-26', '1869-09-27', '1869-09-28', '1869-09-29', '1869-09-30', '1869-10-01', '1869-10-02']

### **Найти число определенных дней недели в списке дат с помощью isoweekday()**

In [ ]:
d1 = datetime.date(1869, 1, 2)
d2 = datetime.date(1869, 10, 2)

dates_btw_d1d2 = date_list(d1, d2, string = False)

In [ ]:
n_saturdays = 0

for d in dates_btw_d1d2:
  n_saturdays += int(d.isoweekday() == 6)

print(n_saturdays)

40

#### Дополнительно

In [ ]:
bday = 'Sep 17, 1997'
bdate = parse(bday)
bdate

datetime.datetime(1997, 9, 17, 0, 0)

In [ ]:
current_bdate = datetime.date(year = datetime.date.today().year, 
                              month = bdate.month,
                              day = bdate.day)

current_bdate

datetime.date(2022, 9, 17)

In [ ]:
td = current_bdate - datetime.date.today()

td.days

103

### **Выделить квартальную часть с помощью f string**

In [ ]:
d1 = datetime.datetime(2010, 9, 28, 10, 40, 59)
d1

datetime.datetime(2010, 9, 28, 10, 40, 59)

In [ ]:
f'{d1.year} - Q{d1.month//4+1}'

'2010 - Q3'

### **Из ряда дат выбрать мин и макс и создать список на их основе**

In [ ]:
datestrings = ['Oct 2, 1869', 'Oct 5, 1869', 'Oct 7, 1869', 'Oct 9, 1869']

# Solution
import datetime
from dateutil.parser import parse
import numpy as np

dates = [parse(d) for d in datestrings]

d1 = np.min(dates)
d2 = np.max(dates)

delta = d2 - d1  # timedelta

# Get all dates 
dates_btw_d1d2 = [(d1 + datetime.timedelta(i)).strftime('%b %d, %Y') for i in range(delta.days + 1)]
print(dates_btw_d1d2)

['Oct 02, 1869', 'Oct 03, 1869', 'Oct 04, 1869', 'Oct 05, 1869', 'Oct 06, 1869', 'Oct 07, 1869', 'Oct 08, 1869', 'Oct 09, 1869']

>>>> ## **Типовые задачи в Pandas**

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'City': ['Singapore','London','HongKong','Paris','Moscow'],
                   'City Population': [563, 898, 745, 215, 1192],
                   'City Area': [721.5, 1572, 1106, 105.4, 2511],
                   'Currency':['SGD','GBP','HKD','EUR','RUB'],
                   'Continent':['Asia','Europe','Asia','Europe','Europe'],
                   'Main Language': ['English','English','Chinese','French','Russian']})

df = pd.DataFrame({'DATE': [1, 2, 3, 4, 5],
                   'VOLUME': [100, 200, 300,400,500],
                   'PRICE': [214, 234, 253,272,291]})

### **Добавить столбец в определенном месте с помощью INSERT**

In [ ]:
df1.insert(loc=3, column='Population density', value=(df1['City Population']/df1['City Area']))

### Найти уникальные значения value_counts()

In [ ]:
df1['Currency'].value_counts()

SGD    1
GBP    1
HKD    1
EUR    1
RUB    1
Name: Currency, dtype: int64

### **Выбрать столбцы определенного типа с помощью select_dtypes**

include = ['..']

exclude = ['..']

In [ ]:
df1.dtypes

City                   object
City Population         int64
City Area             float64
Population density    float64
Currency               object
Continent              object
Main Language          object
dtype: object

In [ ]:
df1.select_dtypes(include = 'float')

   City Area  Population density
0      721.5            0.780319
1     1572.0            0.571247
2     1106.0            0.673599
3      105.4            2.039848
4     2511.0            0.474711

In [ ]:
df1.select_dtypes(exclude=['int64','float64'])

        City Currency Continent Main Language
0  Singapore      SGD      Asia       English
1     London      GBP    Europe       English
2   HongKong      HKD      Asia       Chinese
3      Paris      EUR    Europe        French
4     Moscow      RUB    Europe       Russian

### **mask() для условия if-else**

Метод mask() представляет собой применение условия if-then для каждого элемента серий или датафрейма. 

Если cond равно True, то используется значение из other (значение по умолчанию  —  NaN), в противном случае сохраняется исходное значение. Данный метод аналогичен where()

In [ ]:
import numpy as np

Обратимся к датафрейму, в котором нужно изменить знак всех элементов, кратных двум без остатка.

In [ ]:
df = pd.DataFrame(np.arange(15).reshape(-1, 3), columns = ['A', 'B', 'C'])

print(df)

    A   B   C
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [ ]:
df.mask(df % 2==0, - df)

    A   B   C
0   0   1  -2
1   3  -4   5
2  -6   7  -8
3   9 -10  11
4 -12  13 -14

In [ ]:
s = pd.Series(range(5))
s.where(s > 0 )

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [ ]:
s.mask(s > 0)

0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64

In [ ]:
s.where(s > 1, 10)

0    10
1    10
2     2
3     3
4     4
dtype: int64

### **Выбор столбцов на основе частичного совпадения**

In [ ]:
df1.filter(like = 'tion', axis = 1)

   City Population  Population density
0              563            0.780319
1              898            0.571247
2              745            0.673599
3              215            2.039848
4             1192            0.474711

в R ЭТО БУДЕТ 

`%>% select(contains("g"))`

- ends_with

- starts_with

### **nlargest() и nsmallest для определения наибольших и наименьших значений**

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'HEIGHT': [170,78,99,160,160,130,155,70,70,20],
                   'WEIGHT': [50,60,70,80,90,90,90,50,60,70]},
                   index=['A','B','C','D','E','F','G','H','I','J'])
print(df)

   HEIGHT  WEIGHT
A     170      50
B      78      60
C      99      70
D     160      80
E     160      90
F     130      90
G     155      90
H      70      50
I      70      60
J      20      70

In [ ]:
df.nlargest(3, 'HEIGHT')

   HEIGHT  WEIGHT
A     170      50
D     160      80
E     160      90

In [ ]:
dfl = df.nlargest(2,'HEIGHT',keep='all')
print(dfl)

   HEIGHT  WEIGHT
A     170      50
D     160      80
E     160      90

IN R we will se slice_min(colname, n = 1)

Если есть строки с одинаковым значением переменной, то мы можем
- оставить все или keep = 'all'

- оствить первые наблюдения first

- последние last

По аналогии **nsmallest**

In [ ]:
df.nsmallest(3,'WEIGHT')

   HEIGHT  WEIGHT
A     170      50
H      70      50
B      78      60

### **Отбор случайных образцов из набора данных - sample**

In [ ]:
df.sample(frac=0.25)

   HEIGHT  WEIGHT
G     155      90
I      70      60

### **Перебор строк датафрейма**

In [ ]:
df.iterrows()

In [ ]:
for idx,row in df.iterrows():
    print(idx, row)

A HEIGHT    170
WEIGHT     50
Name: A, dtype: int64
B HEIGHT    78
WEIGHT    60
Name: B, dtype: int64
C HEIGHT    99
WEIGHT    70
Name: C, dtype: int64
D HEIGHT    160
WEIGHT     80
Name: D, dtype: int64
E HEIGHT    160
WEIGHT     90
Name: E, dtype: int64
F HEIGHT    130
WEIGHT     90
Name: F, dtype: int64
G HEIGHT    155
WEIGHT     90
Name: G, dtype: int64
H HEIGHT    70
WEIGHT    50
Name: H, dtype: int64
I HEIGHT    70
WEIGHT    60
Name: I, dtype: int64
J HEIGHT    20
WEIGHT    70
Name: J, dtype: int64

### **pandas.DataFrame.explode** - аналог unnest в SQL

Transform each element of a list-like to a row, replicating index values.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': [[0, 1, 2], 'foo', [], [3, 4]],
                   'B': 1,
                   'C': [['a', 'b', 'c'], np.nan, [], ['d', 'e']]})
df

           A  B          C
0  [0, 1, 2]  1  [a, b, c]
1        foo  1        NaN
2         []  1         []
3     [3, 4]  1     [d, e]

In [ ]:
df.explode('A').explode('C')

     A  B    C
0    0  1    a
0    0  1    b
0    0  1    c
0    1  1    a
0    1  1    b
0    1  1    c
0    2  1    a
0    2  1    b
0    2  1    c
1  foo  1  NaN
2  NaN  1  NaN
3    3  1    d
3    3  1    e
3    4  1    d
3    4  1    e

> ### **Памятка по ENUMERATE**


[*Source*](https://proglib.io/p/python-enumerate-uproshchaem-cikly-s-pomoshchyu-schetchikov-2020-12-08)

enumerate(sequence, start=0)

sequence - любая последовательность, итератор, или объект, поддерживающий метод итератора next(),

start - число int, начальное значение счётчик


По сути enumerate заменяет счетчик


```
def enumerate(sequence, start=0):
    n = start
    for elem in sequence:
        yield n, elem
        n += 1
```



> Наиболее часто функцию enumerate() используют в цикле for/in в качестве счетчика элементов последовательности:

In [ ]:
seq = list('абвгде')

for i, val in enumerate(seq, start=1):
  print(f'N {i} => {val}' )

N 1 => а
N 2 => б
N 3 => в
N 4 => г
N 5 => д
N 6 => е

Когда вы используете enumerate(), функция возвращает две переменные цикла: **количество текущих итераций и значение элемента** на текущей итерации.

> Получение списка парных кортежей (number, value) (порядковый номер в последовательности, значение последовательности)

In [ ]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']

list(enumerate(seasons, start = 10))

[(10, 'Spring'), (11, 'Summer'), (12, 'Fall'), (13, 'Winter')]

In [ ]:
lst = [5, 3, 1, 0, 9, 7]
lst_num = list(enumerate(lst, 0))
# получился список кортежей, в которых 
# первый элемент - это индекс значения списка, 
# а второй элемент - само значение списка
lst_num

[(0, 5), (1, 3), (2, 1), (3, 0), (4, 9), (5, 7)]

Найдем минимум и максимум по второму значению кортежа

In [ ]:
tup_max = max(lst_num, key = lambda i : i[1])
tup_max

(4, 9)

In [ ]:
tup_min = min(lst_num, key=lambda i : i[1])
tup_min

(3, 0)

In [ ]:
values = ["a", "b", "c"]

for index in range(len(values)):
  value = values[index]
  print(index, value)

0 a
1 b
2 c

### **Enumerate - Возвращение элементов итерационной модели с четным индексом**

Можно комбинировать математические операции с условиями. Например, если вам понадобится возвращать элементы из итерационной модели, имеющие четный индекс. Это делается следующим образом:

- в коде с нечетным

In [ ]:
def even_items(iterable):
 """Возврат элементов ``iterable`` когда индекс четный"""
 values = []
 for index, value in enumerate(iterable, start=1):
   if not index % 2:
     values.append(value)
 return values

С помощью list comprehension

In [ ]:
def even_items(iterable):
  return [v for i, v in enumerate(iterable, start=1) if not i % 2]

In [ ]:
testing = [1, 2, 3, 4, 5, 6]

even_items(testing)

[2, 4, 6]

### **Распаковка аргументов с помощью for zip**

* Позволяет перебирать две или более последовательности одновременно. 


* На каждой итерации zip() возвращает кортеж, который собирает элементы из всех переданных последовательностей:

In [ ]:
first = ["a", "b", "c"]
second = ["d", "e", "f"]
third = ["g", "h", "i"]

for one, two, three in zip(first, second, third):
  print(one, two, three)

a d g
b e h
c f i

В цикле элементы сопоставляются, а затем выводятся. Вы можете объединить zip() и enumerate(), используя вложенную распаковку аргументов:

In [ ]:
for count, (one, two, three) in enumerate(zip(first, second, third)):
  print(count, one, two, three)

0 a d g
1 b e h
2 c f i

## Friedman Data Analysis

### Create Year-Month Column from Dates

In [2]:
import pandas as pd

import datetime

import random

In [4]:
random.seed(18)

signup_datetime = datetime.datetime.today()
signup_datetimes = []
total_signups = 60

for signup in range(total_signups):
  random_days = random.randint(1, 13)
  random_minutes = random.randint(1, 60)

  signup_datetime = signup_datetime + datetime.timedelta(
      days = random_days, minutes = random_minutes)
  signup_datetimes.append(signup_datetime)

In [5]:
df = pd.DataFrame( 
    {'user_created_at': signup_datetimes, 
     'user_id': range(0, total_signups)}
)

df.head()

             user_created_at  user_id
0 2022-06-28 12:34:10.697200        0
1 2022-07-09 13:03:10.697200        1
2 2022-07-15 13:19:10.697200        2
3 2022-07-19 13:51:10.697200        3
4 2022-07-30 14:23:10.697200        4

In [7]:
df['user_created_at_year_month'] = df['user_created_at'].dt.strftime("%Y-%m")

df.head()

             user_created_at  user_id user_created_at_year_month
0 2022-06-28 12:34:10.697200        0                    2022-06
1 2022-07-09 13:03:10.697200        1                    2022-07
2 2022-07-15 13:19:10.697200        2                    2022-07
3 2022-07-19 13:51:10.697200        3                    2022-07
4 2022-07-30 14:23:10.697200        4                    2022-07

MY VARIANT

In [9]:
df['user_created_at_year_month_2'] = pd.to_datetime(df['user_created_at']).dt.to_period('M')

df.head()

,user_created_at,user_id,user_created_at_year_month,user_created_at_year_month_2
0,2022-06-28 12:34:10.697200,0,2022-06,2022-06
1,2022-07-09 13:03:10.697200,1,2022-07,2022-07
2,2022-07-15 13:19:10.697200,2,2022-07,2022-07
3,2022-07-19 13:51:10.697200,3,2022-07,2022-07
4,2022-07-30 14:23:10.697200,4,2022-07,2022-07

In [11]:
df.groupby('user_created_at_year_month').size().reset_index().rename(columns = {0: 'count_signups_man'})

   user_created_at_year_month  count_signups_man
0                     2022-06                  1
1                     2022-07                  4
2                     2022-08                  5
3                     2022-09                  3
4                     2022-10                  4
5                     2022-11                  3
6                     2022-12                  4
7                     2023-01                  3
8                     2023-02                  3
9                     2023-03                  4
10                    2023-04                  3
11                    2023-05                  3
12                    2023-06                  4
13                    2023-07                  3
14                    2023-08                  3
15                    2023-09                  4
16                    2023-10                  5
17                    2023-11                  1

### cut() Method: Bin Values into Discrete Intervals

In [12]:
import numpy as np

df_ages = pd.DataFrame({
    'age': np.random.randint(21, 51, 8)
})

In [16]:
df_ages['bins'] = pd.cut(x = df_ages['age'],  
                   bins = [20, 29, 39, 50], 
                   labels = ['20-s', '30-s', '40-s'])

df_ages

   age  bins
0   39  30-s
1   22  20-s
2   33  30-s
3   25  20-s
4   27  20-s
5   29  20-s
6   48  40-s
7   32  30-s

### shift() Method: Shift Values in Column Up or Down

In [18]:
random.seed(38)
ride_start_time = datetime.datetime.today()
ride_end_time = ride_start_time + datetime.timedelta(minutes=20)
ride_start_times = []
ride_end_times = []
count_of_rides = 6

for ride in range(count_of_rides):
    minutes_between_rides = random.randint(8, 100)
    ride_start_time = ride_end_time + datetime.timedelta(minutes=minutes_between_rides)
    
    minutes_riding = random.randint(5, 25)
    ride_end_time = ride_start_time + datetime.timedelta(minutes=minutes_riding)
    
    ride_start_times.append(ride_start_time)
    ride_end_times.append(ride_end_time)

data = {'ride_start_time': ride_start_times, 
        'ride_end_time': ride_end_times}

df_bike_rides = pd.DataFrame(data)

df_bike_rides.head()

             ride_start_time              ride_end_time
0 2022-06-25 14:31:37.926025 2022-06-25 14:49:37.926025
1 2022-06-25 15:51:37.926025 2022-06-25 15:59:37.926025
2 2022-06-25 16:15:37.926025 2022-06-25 16:31:37.926025
3 2022-06-25 18:08:37.926025 2022-06-25 18:27:37.926025
4 2022-06-25 19:22:37.926025 2022-06-25 19:28:37.926025

In [22]:
df_bike_rides['previous_ride_end_time'] = df_bike_rides['ride_end_time'].shift(1)

df_bike_rides['duration_bike_idle_between_rides'] = df_bike_rides['ride_start_time'] - df_bike_rides[
                                                                                                     'previous_ride_end_time']

df_bike_rides.head()

,ride_start_time,ride_end_time,previous_ride_end_time,duration_bike_idle_between_rides
0,2022-06-25 14:31:37.926025,2022-06-25 14:49:37.926025,NaT,NaT
1,2022-06-25 15:51:37.926025,2022-06-25 15:59:37.926025,2022-06-25 14:49:37.926025,0 days 01:02:00
2,2022-06-25 16:15:37.926025,2022-06-25 16:31:37.926025,2022-06-25 15:59:37.926025,0 days 00:16:00
3,2022-06-25 18:08:37.926025,2022-06-25 18:27:37.926025,2022-06-25 16:31:37.926025,0 days 01:37:00
4,2022-06-25 19:22:37.926025,2022-06-25 19:28:37.926025,2022-06-25 18:27:37.926025,0 days 00:55:00

 total_seconds method

In [23]:
df_bike_rides['minutes_bike_idle_between_rides'] = df_bike_rides['duration_bike_idle_between_rides'].dt.total_seconds()/60

In [24]:
data = {'ride_start_time': ride_start_times,
        'ride_end_time':  ride_end_times,
        'bike_id': [1, 22, 1, 1, 22, 22],
        'start_station': ["21st & Folsom", "21st & Folsom", "4th & King", "24th & Valencia", "4th & King",  "16th and Mission"],
        'end_station':  ["4th & King", "4th & King", "24th & Valencia", "Embarcadero & Market",  "16th and Mission", "4th & King"]
       }
df_bike_sharing = pd.DataFrame(data)

df_bike_sharing.head()

,ride_start_time,ride_end_time,bike_id,start_station,end_station
0,2022-06-25 14:31:37.926025,2022-06-25 14:49:37.926025,1,21st & Folsom,4th & King
1,2022-06-25 15:51:37.926025,2022-06-25 15:59:37.926025,22,21st & Folsom,4th & King
2,2022-06-25 16:15:37.926025,2022-06-25 16:31:37.926025,1,4th & King,24th & Valencia
3,2022-06-25 18:08:37.926025,2022-06-25 18:27:37.926025,1,24th & Valencia,Embarcadero & Market
4,2022-06-25 19:22:37.926025,2022-06-25 19:28:37.926025,22,4th & King,16th and Mission

In [25]:
df_bike_sharing.sort_values(by = ['bike_id', 'ride_start_time'], inplace = True)

df_bike_sharing

,ride_start_time,ride_end_time,bike_id,start_station,end_station
0,2022-06-25 14:31:37.926025,2022-06-25 14:49:37.926025,1,21st & Folsom,4th & King
2,2022-06-25 16:15:37.926025,2022-06-25 16:31:37.926025,1,4th & King,24th & Valencia
3,2022-06-25 18:08:37.926025,2022-06-25 18:27:37.926025,1,24th & Valencia,Embarcadero & Market
1,2022-06-25 15:51:37.926025,2022-06-25 15:59:37.926025,22,21st & Folsom,4th & King
4,2022-06-25 19:22:37.926025,2022-06-25 19:28:37.926025,22,4th & King,16th and Mission
5,2022-06-25 20:53:37.926025,2022-06-25 21:03:37.926025,22,16th and Mission,4th & King

In [26]:
df_bike_sharing['previous_bike_id'] = df_bike_sharing['bike_id'].shift(periods = 1)

df_bike_sharing

,ride_start_time,ride_end_time,bike_id,start_station,end_station,previous_bike_id
0,2022-06-25 14:31:37.926025,2022-06-25 14:49:37.926025,1,21st & Folsom,4th & King,NaN
2,2022-06-25 16:15:37.926025,2022-06-25 16:31:37.926025,1,4th & King,24th & Valencia,1.0
3,2022-06-25 18:08:37.926025,2022-06-25 18:27:37.926025,1,24th & Valencia,Embarcadero & Market,1.0
1,2022-06-25 15:51:37.926025,2022-06-25 15:59:37.926025,22,21st & Folsom,4th & King,1.0
4,2022-06-25 19:22:37.926025,2022-06-25 19:28:37.926025,22,4th & King,16th and Mission,22.0
5,2022-06-25 20:53:37.926025,2022-06-25 21:03:37.926025,22,16th and Mission,4th & King,22.0

In [27]:
df_bike_sharing['previous_ride_end_time'] = df_bike_sharing['ride_end_time'].shift(periods=1)

In [28]:
df_bike_sharing.where(df_bike_sharing['bike_id'] == df_bike_sharing['previous_bike_id'])

,ride_start_time,ride_end_time,bike_id,start_station,end_station,previous_bike_id,previous_ride_end_time
0,NaT,NaT,NaN,NaN,NaN,NaN,NaT
2,2022-06-25 16:15:37.926025,2022-06-25 16:31:37.926025,1.0,4th & King,24th & Valencia,1.0,2022-06-25 14:49:37.926025
3,2022-06-25 18:08:37.926025,2022-06-25 18:27:37.926025,1.0,24th & Valencia,Embarcadero & Market,1.0,2022-06-25 16:31:37.926025
1,NaT,NaT,NaN,NaN,NaN,NaN,NaT
4,2022-06-25 19:22:37.926025,2022-06-25 19:28:37.926025,22.0,4th & King,16th and Mission,22.0,2022-06-25 15:59:37.926025
5,2022-06-25 20:53:37.926025,2022-06-25 21:03:37.926025,22.0,16th and Mission,4th & King,22.0,2022-06-25 19:28:37.926025

### Pandas rank() Method: Equivalent to ROW_NUMBER(), RANK(), DENSE_RANK() and NTILE() SQL

In [30]:
import seaborn as sns
cm = sns.light_palette("lightgreen", as_cmap=True)

In [33]:
data = {'close_date': ["2012-08-01", "2012-08-01", "2012-08-01", "2012-08-02", "2012-08-03", "2012-08-04", "2012-08-05", "2012-08-07"],
        'seller_name': ["Lara", "Julia", "Julia", "Emily", "Julia", "Lara", "Julia", "Julia"]
       }
df = pd.DataFrame(data)

df['close_date'] = pd.to_datetime(df['close_date'])

df

  close_date seller_name
0 2012-08-01        Lara
1 2012-08-01       Julia
2 2012-08-01       Julia
3 2012-08-02       Emily
4 2012-08-03       Julia
5 2012-08-04        Lara
6 2012-08-05       Julia
7 2012-08-07       Julia

In [37]:
# Find Rank of Homes Sold for Each Seller by Close Date

df['rank_seller_by_close_date'] =  df.groupby('seller_name')['close_date'].rank(method = 'first')

In [38]:
df.style.background_gradient(cmap = cm, subset = pd.IndexSlice[:, ['rank_seller_by_close_date']])

In [41]:
df.sort_values(
    by=['seller_name','rank_seller_by_close_date']).style.background_gradient(cmap = cm, subset = pd.IndexSlice[:, ['rank_seller_by_close_date']])

### melt() and Pivot + Query + Pivot with Agg

In [43]:
s = 'Tesla Model S P100D'
x = 'Tesla Model X P100D'
three = 'Tesla Model 3 AWD Dual Motor'

s_data = [s, 2.5, 2.51, 2.54]
x_data = [x, 2.92, 2.91, 2.93]
three_data = [three, 3.33, 3.31, 3.35]

data = [s_data, x_data, three_data] 

data

columns = ['car_model', 'Sept 1 9am', 'Sept 1 10am', 'Sept 1 11am']

df = pd.DataFrame(data, columns = columns)

df

                      car_model  Sept 1 9am  Sept 1 10am  Sept 1 11am
0           Tesla Model S P100D        2.50         2.51         2.54
1           Tesla Model X P100D        2.92         2.91         2.93
2  Tesla Model 3 AWD Dual Motor        3.33         3.31         3.35

In [44]:
df_unpivoted = df.melt(id_vars = ['car_model'], var_name = 'date',
        value_name = '0-60mph_in_seconds')

df_unpivoted

                      car_model         date  0-60mph_in_seconds
0           Tesla Model S P100D   Sept 1 9am                2.50
1           Tesla Model X P100D   Sept 1 9am                2.92
2  Tesla Model 3 AWD Dual Motor   Sept 1 9am                3.33
3           Tesla Model S P100D  Sept 1 10am                2.51
4           Tesla Model X P100D  Sept 1 10am                2.91
5  Tesla Model 3 AWD Dual Motor  Sept 1 10am                3.31
6           Tesla Model S P100D  Sept 1 11am                2.54
7           Tesla Model X P100D  Sept 1 11am                2.93
8  Tesla Model 3 AWD Dual Motor  Sept 1 11am                3.35

In [45]:
df_unpivoted.groupby('car_model')['0-60mph_in_seconds'].min()

car_model
Tesla Model 3 AWD Dual Motor    3.31
Tesla Model S P100D             2.50
Tesla Model X P100D             2.91
Name: 0-60mph_in_seconds, dtype: float64

In [47]:
df_unpivoted.pivot(index='car_model', columns='date', values='0-60mph_in_seconds')

date                          Sept 1 10am  Sept 1 11am  Sept 1 9am
car_model
Tesla Model 3 AWD Dual Motor         3.31         3.35        3.33
Tesla Model S P100D                  2.51         2.54        2.50
Tesla Model X P100D                  2.91         2.93        2.92

In [48]:
df_flights = sns.load_dataset('flights')

df_flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [50]:
df_flights.query('year==1949')

    year month  passengers
0   1949   Jan         112
1   1949   Feb         118
2   1949   Mar         132
3   1949   Apr         129
4   1949   May         121
5   1949   Jun         135
6   1949   Jul         148
7   1949   Aug         148
8   1949   Sep         136
9   1949   Oct         119
10  1949   Nov         104
11  1949   Dec         118

In [52]:
df_flights.query("month==['January', 'February']")

Empty DataFrame
Columns: [year, month, passengers]
Index: []

In [54]:
pd.pivot_table(data = df_flights, index = 'year', values = 'passengers', aggfunc = 'sum')

pd.pivot_table(data=df_flights,
               index='year', 
               values='passengers', aggfunc='sum').reset_index().rename(columns = {'passengers': 'total_passengers'})

    year  total_passengers
0   1949              1520
1   1950              1676
2   1951              2042
3   1952              2364
4   1953              2700
5   1954              2867
6   1955              3408
7   1956              3939
8   1957              4421
9   1958              4572
10  1959              5140
11  1960              5714

### crosstabs() Method

In [56]:
df_tips = sns.load_dataset('tips')
df_tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [57]:
pd.crosstab(index = df_tips['day'], columns = df_tips['sex'])

sex   Male  Female
day
Thur    30      32
Fri     10       9
Sat     59      28
Sun     58      18

In [61]:
pd.crosstab(index=df_tips['day'], columns=df_tips['sex'], colnames=['gender']).unstack().reset_index()

   gender   day   0
0    Male  Thur  30
1    Male   Fri  10
2    Male   Sat  59
3    Male   Sun  58
4  Female  Thur  32
5  Female   Fri   9
6  Female   Sat  28
7  Female   Sun  18